<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<div th:switch="${users}">
    <h2 th:case="null">No users yet!</h2>
    <div th:case="*">
        <h2>Users</h2>
        <table border="1">

            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Operations</th>
            </tr>

            <tr th:each="ms : ${users}">

                <td th:utext="${ms.getId()}">id</td>
                <td  th:utext="${ms.getName()}">Name</td>
                <td th:utext="${ms.getLastName()}">Last name</td>
                <td th:utext="${ms.getAge()}">Age</td>

                <td><a th:href="@{edit/{id}(id=${ms.getId()})}">Edit</a></td>
                <td><a th:href="@{delete/{id}/(id=${ms.getId()})}">Delete</a></td>

            </tr>

        </table>
        <br/>
    </div>
    <p><a href="/new">Create new user</a></p>

</body>
</html>